body {
  background-image: url("../img/bg.jpg");
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Verdana", Verdana, sans-serif;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

button,
thead,
.small-text {
  color: white;
}

td,
a {
  color: darkgreen;
}

table {
  background-image: linear-gradient(limeGreen, white, limeGreen);
  background-blend-mode: darken;
  border-collapse: collapse;
  border: black solid 1px;
  width: auto;
  overflow: auto hidden;
  display: inline-block
}

iframe,
th,
.centered {
  text-align: center;
  align-content: center;
}

.rightA,
footer {
  text-align: right
}

td {
  padding: 8px;
}

tr {
  border-bottom: solid black 1px;
}

thead {
  background: black;
}

p {
  font-size: 18px;
  font-weight: bold
}

a {
  text-decoration: none;
}

.small-text,
footer {
  font-size: 11px;
  padding: 0px
}

footer {
  font-size: 11px;
}

.container2 {
  padding-top: 60px;
  display: inline-flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  opacity: 0.9;
  width: 100%;
}

.container2 div {
  width: auto;
  height: auto;
}

#app3,
#app2 {
  display: inline-flex;
  background-color: white;
  border: black solid 1px;
  border-radius: 8px;
  padding: 10px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 1;
  justify-content: center;
  flex-grow: 1 1 auto
}

.bold {
  font-weight: bold
}

.no-border,
.no-border td {
  border: white solid 1px;
  background-image: none;
  background-color: white;
}

.teamsB {
  border-radius: 8px;
  background-color: forestgreen;
  color: white;
  padding: 10px;
  margin-right: 3px;
  margin-left: 3px;
}

.sticky {
  width: 100%;
  position: fixed;
  top: 0;
}